@import "../palette/palette";

$fabBackgroundColor: nth($primaryPalette, 5);
$fabHoverBackgroundColor: nth($primaryPalette, 7);
$fabFocusBackgroundColor: nth($primaryPalette, 12);
$fabActiveBackgroundColor: nth($primaryPalette, 13);
$fabIconColor: black;
$fabColoredIconColor: white;
$fabWidth: 40px;
$fabHeight: 40px;
$fabFontSize: 14px;

.PaperFab {
  border-radius   : 10%;
  color           : $fabIconColor;
  font-size       : $fabFontSize;
  height          : $fabHeight;
  margin          : auto;
  min-width       : $fabWidth;
  width           : $fabWidth;
  padding         : 0;
  overflow: hidden;
  will-change: transform;
}

.PaperFab--colored {
  background-color: $fabBackgroundColor;
  color: $fabColoredIconColor;
}

.PaperFab--colored:hover {
  background-color: $fabHoverBackgroundColor;
}

.PaperFab--colored:focus {
  background-color: $fabFocusBackgroundColor;
}

.PaperFab--colored:active {
  background-color: $fabActiveBackgroundColor
}

.PaperFab--colored .Ripple {
  background: $color-ripple-bg-color;
}

.PaperFab .PaperButton-rippleContainer {
  border-radius: 50%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
